body{background-image: url(makeup.jpg) ;
/* color: pink; */
}
.my{font-size: 20px;
    
}                                                       
table{
    background-color: rgb(228, 211, 207);
    font-style: italic;
}
